@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100;300;500;800&family=Poppins:ital,wght@0,100;0,200;0,700;1,600&display=swap');

*{
    font-family: 'Poppins';
    text-align: center;
    color: white;
}

h1{
    font-size: clamp(2rem, 3.5vw, 5rem);
}

h2{
    font-size: clamp(2rem, 3vw, 4rem);
}

body{
    background-image: url(https://images.unsplash.com/photo-1546271876-af6caec5fae5?q=80&w=465&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.countdown{
    display: flex;
    gap: 2vw;
    justify-content: center;
}

.card-countdown{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10vh 20vw;
    border-radius: .5em;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: gray;
    box-shadow: 5px 5px rgb(123, 34, 34, 0.8);
    width: 100px;
    border-radius: .1em;
    justify-content: center;
}

@media only screen and (max-width : 768px){
    body{
        height: 100%;
    }
    .countdown{
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
}
